{% extends 'base.html'%}
{% block container %}

    <div class="jumbotron page-header">
        <h1>Clínica de Psicologia</h1>
        <p>Política de Privacidade e Confidencialidade

            Na [Nome da Clínica] compreendemos a importância da privacidade e confidencialidade no processo terapêutico. Este documento descreve como tratamos as informações pessoais dos nossos pacientes e como asseguramos a confidencialidade de todos os dados compartilhados durante o atendimento.
            
            Coleta e Uso de Informações Pessoais:
            
            Informações Coletadas: Durante o processo de admissão e durante o atendimento, podemos coletar informações pessoais, incluindo dados de contato, histórico médico, e outras informações relevantes para o processo terapêutico.
            
            Finalidade da Coleta: As informações coletadas têm como finalidade exclusiva o suporte ao tratamento, permitindo um atendimento personalizado e eficaz.
            
            Confidencialidade e Proteção de Dados:
            
            Sigilo Profissional: Todas as informações compartilhadas durante as sessões terapêuticas são protegidas pelo sigilo profissional. Nenhum detalhe do tratamento será divulgado sem o consentimento expresso do paciente, exceto em situações previstas por lei, que demandem a quebra do sigilo.
            
            Armazenamento Seguro: Os dados são armazenados de forma segura, seguindo os mais altos padrões de segurança e proteção, garantindo a confidencialidade e evitando acessos não autorizados.
            
            Compartilhamento de Informações: As informações pessoais não serão compartilhadas com terceiros, a menos que haja consentimento explícito do paciente ou se for requisitado por lei ou por questões de segurança e proteção.
            
            Consentimento:
            
            O paciente concorda com esta política de privacidade ao buscar os serviços da [Nome da Clínica]. O consentimento pode ser revogado a qualquer momento, sujeito a limitações legais ou éticas.
            
            Ao continuar os serviços terapêuticos, o paciente concorda e reconhece ter lido, compreendido e aceitado os termos desta política de privacidade e confidencialidade.
            
            Para mais informações sobre nossa política de privacidade ou sobre como suas informações são tratadas, entre em contato conosco.</p>
        <p><a class="btn btn-primary">Saiba mais</a></p>
    </div>

{% endblock %}
